body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.head {
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.maindiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.divsecond {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    font-size: 30px;
    font-weight: 300;
}

.name:hover {
    color: #666666;
}

.navb {
    font-size: 12px;
    margin-top: 10px;
    color: #777777;
}

.homecolors {
    text-decoration: none;
    color: grey;
}

.homecolors:hover {
    color: black;
}

.haeding .linksnav {
    padding: 10px 15px;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    margin-left: 40px;
}

.about {
    text-decoration: none;
    color: inherit;
}

.homecolor {
    text-decoration: none;
    color: grey;
}

.homecolor:hover {
    color: black;
}

.resume:hover {
    color: black;
}

.resume {
    text-decoration: none;
    color: grey;
}

.aboutus {
    text-decoration: none;
    color: rgb(5, 5, 5);
}

.aboutus:hover {
    color: grey;
}

.secondcontainer {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.containerimages {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img {
    width: 80%;
}

.text {
    width: 60%;
    font-size: 18px;
    font-weight: 500;
}

.text a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

p {
    line-height: 1.5;
    letter-spacing: 2;
    color: grey;
}

.containerlast {
    width: 98%;
    justify-content: space-between;
    flex-direction: column;
    padding: 1%;
    margin-top: 120px;
}

.containerlast .last {
    flex-direction: row;
    align-items: center;
    text-align: center;
    display: inline-flex;
}

.containerlast .last .img {
    width: 25px;
    height: 25px;
}

.last img {
    width: 20px;
    margin-left: 40px;
}

.containerlast a {
    text-decoration: none;
}

.containerlast p {
    margin-left: 10px;
}

.containerlast p:hover {
    color: black;
}

@media only screen and (max-width:375px) {
    .secondcontainer {
        display: inline-block;
    }
    .containerimages {
        width: 240px;
    }
    .containerimages img {
        width: 220px;
        margin-left: 20px;
    }
    .text {
        width: 260px;
    }
}