.firstcontainer {
    width: 90%;
    display: flex;
    margin-left: 5%;
}

.head {
    width: 60%;
}

.head h4 {
    width: 70%;
    padding: 2%;
}

.middlehead p {
    width: 70%;
    padding: 2%;
    margin-top: -30px;
}

nav {
    width: 30%;
    display: inline-block;
    justify-content: end;
    margin-left: 25%;
}

ul {
    width: 80%;
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 4% 12%;
    justify-content: space-between;
}

li a {
    font-size: 14px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: grey;
}

.secondcontainer {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.containerimages {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img {
    width: 80%;
}

.text {
    width: 60%;
    font-size: 18px;
    font-weight: 500;
}

.text a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

p {
    line-height: 1.5;
    letter-spacing: 2;
    color: grey;
}

.containerlast {
    width: 98%;
    justify-content: space-between;
    flex-direction: column;
    padding: 1%;
    margin-top: 120px;
}

.containerlast .last {
    flex-direction: row;
    align-items: center;
    text-align: center;
    display: inline-flex;
}

.containerlast .last .img {
    width: 25px;
    height: 25px;
}

.last img {
    width: 20px;
    margin-left: 40px;
}

.containerlast a {
    text-decoration: none;
}

.containerlast p {
    margin-left: 10px;
}

.containerlast p:hover {
    color: black;
}

@media only screen and (max-width:375px) {
    .secondcontainer {
        display: inline-block;
    }
    .containerimages {
        width: 200px;
    }
    .containerimages img {
        width: 200px;
    }
    .text {
        width: 240px;
    }
}